page-about {

	.img-box {
		width: 80%;
		margin: 0 auto;
	}

	img {
		border-radius: 50%;
		border: 5px solid rgba(192,192,192,0.5);
		
	}

	.item-md {

		p {
			text-align: center;
			line-height: 24px;
		}
	}
}
